on:
  push:
    branches:
      - master
      - main
  steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: yesolutions/mirror-action@master
      with:
        REMOTE: 'https://git.physik.uni-wuerzburg.de/mthome/ALF.git'
        GIT_USERNAME: deploy-token
        GIT_PASSWORD: ${{ secrets.GITLAB_MIRROR_TOKEN }}
        PUSH_ALL_REFS: false
